@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/liberation-serif.min.css");
/*Como llamar: 'Liberation Serif', sans-serif;*/

/* -------------- MASTER  ------------- */
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}


/* Header */
.divHeaderGeneralNombreSitio{
    display: flex;
}

.divLogoNombreSitio__imagenLogoSitio {
    width: 120px;
    height: 120px;
}

.divNombreSitio{
    padding: 0;
    margin: 0;
}

.divLogoNombreSitio__nombreSitio{
    font-size: xxx-large;
    background: linear-gradient(to right, rgba(238, 238, 243, 0.555), rgb(96, 205, 248), rgba(40, 40, 230, 0.925));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}
.iconHelp {
    width: 30px;
    height: 30px;
    margin-top: 50px;
    transform: scale(1,1);
    justify-content: left;
}
.iconHelp:hover{
    transform: scale(1.2,1.2);
}

/*menu*/

.menuSticky {
    position: sticky;
    top: 0px;
    background-color:black;    
    padding-left: 0%;
    z-index: 100;

}

.navMenu ul {
    list-style: none;
    font-size: 0;
    margin-left: 0%;
    margin-top: 2%;
}

.navMenu ul li{
    display: inline-block;
    width: 15%;
    font-size: 17px;
    text-align: center;
    margin: 1%;
}

.classBody {
    background-color: black;
    
}
.navMenu ul li a {
    text-decoration: none;
}

.navMenu ul ul {
    position: absolute;
    display: none;
    border-color: rgb(0, 102, 255);
    border: 1px solid rgb(54, 54, 27);
    width: 225px;
    padding-left: 0;
    margin-top: 0%;
}

.navMenu ul li ul li {
    display: block;
    text-align: left;
    width: auto;
    border: 1px solid rgb(54, 54, 27);
    background-color:rgba(0, 0, 0, 0.904) ;    

}

.navMenu ul li:hover ul {
    display: block;
}
nav ul li {
    border-style: inset;
    border-color: rgb(0, 102, 255);
    border-radius: 10%;
}

nav ul li a {
    color: rgb(0, 102, 255);
}

.nav li:hover > a {
    background-color: #f0f3df;
}

.liSeleccionado {
    border-color: rgb(0, 255, 191);
}

/**** MediaQuerys ***********/
@media only screen and (min-width: 0px) and (max-width: 355px){
    .divLogoNombreSitio__nombreSitio{
        font-size: x-large;
    }
    .divLogoNombreSitio__imagenLogoSitio {
        width: 80px;
        height: 80px;
    }
    #sectionIconsFooter{
        display: block;
    }
    #divIconosRedes{
        display: flex;
    }
}

@media only screen and (min-width: 356px) and (max-width: 455px){
    .divLogoNombreSitio__nombreSitio{
        font-size: xx-large;
    }
    .divLogoNombreSitio__imagenLogoSitio {
        width: 80px;
        height: 80px;
    }
    #sectionIconsFooter{
        display: flex;
    }
}

@media only screen and (min-width: 0px) and (max-width: 456px){
    
    section #divcontainerButton {
        padding-left: 13%;
    }

    .divHeaderGeneralNombreSitio{
        display: grid;
        grid-template-areas: 
        "icono nada ayuda"
        "nombre nombre nombre"
        ;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 0.6fr;
    }

    #divHeaderGeneralNombreSitio{
        grid-area: icono;
    }

    #divNombreSitio{
        grid-area: nombre;
        display: inline-block;
        justify-self: center;
    }
    
    #divHelp{
        grid-area: ayuda;
        justify-self: center;
        align-self: center;
    }

    /* Media Query Felicitaciones */
    #felicitacionesFelicitaciones{
    width: 100%;
    }
    /* Fin Media Query Felicitaciones */

    /* Media Query Contacto */
    #formContacto {
        width: 100%;
    }
    
    #contactoDivGral {
        display: block;    
        align-content: center;
        text-align:center;
        width: 100%;
    }

    #textAreaConsulta{
        width: 100%;
    }    
    /*Fin media Query Contacto */
}

@media only screen and (min-width: 457px) and (max-width: 767px){
    section #divcontainerButton {
        padding-left: 25%;
    }

    .divLogoNombreSitio__imagenLogoSitio {
        width: 100px;
        height: 100px;
    }    
}
@media only screen and (min-width: 0px) and (max-width: 600px){
    main .eventosBotones{
        display: block;
    }
    #divBotonProximosEventos{
        padding-bottom: 20%;
    }

}


@media only screen and (min-width: 0px) and (max-width: 767px){
    /* Media Query Header */
    .menuSticky {
        position: static;
        width: 100%;
    }
    

    .navMenu ul li{
        display: block;
        width: 80%;
        font-size: 15px;
    }

    .imagenFondo .h1Bienvenida{
        font-size: 38px;
    }
    /* FIN Media Query Header */



    /* Media Query Novedades */
    .sectionNovedades > .novedadLayoutIzq{
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding-bottom: 2%;
        border-bottom: 15px solid rgba(128, 128, 128, 0.801);
    }
    
    .sectionNovedades > .novedadLayoutDer{
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding-bottom: 2%;
        border-bottom: 5p1x solid rgba(128, 128, 128, 0.801);
    }

    /* FIN Media Query Novedades */

}

@media only screen and (min-width: 768px) and (max-width: 1000px){
    .navMenu ul li{
        display: inline-table;
        font-size: 17px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1595px)
{
    .fotoVideoDer{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .fotoVideoDer> #fotoNovedadDer {
        transform: rotate(350deg) translate(30px, 30px);
        height: 80%;
        width: 30%;
    }
    .fotoVideoDer>#fotoNovedadDer2 {
        transform: rotateZ(10deg) translate(0px, 10px) scale(-1, 1);
        height: 60%;
        width: 30%;
    
    }


    /* Media Query Novedades */
    .sectionNovedades > .novedadLayoutIzq{
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding-bottom: 2%;
        border-bottom: 15px solid rgba(128, 128, 128, 0.801);
    }

    .sectionNovedades > .novedadLayoutDer{
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding-bottom: 2%;
        border-bottom: 5p1x solid rgba(128, 128, 128, 0.801);
    }

    /* FIN Media Query Novedades */

}



@media only screen and (min-width: 1019px) {

    /* Media Query min 1019px  INSCRIPCION EVENTOS  */
    .gridInscripcionEventosDatosPers > * {
        border: 2px solid rgba(57, 201, 141, 0.363);
        background-color: whitesmoke;
        background-image: radial-gradient( rgba(135, 233, 187, 0.356), rgba(184, 180, 128, 0.89));
    }

    .gridInscripcionEventosDatosPers{
        display: grid;
        grid-template-columns: 2fr 2fr 2fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 4fr ;
        margin-left: 10%;
        margin-right: 10%;
    }

    .gridInscripcionEventosDatosPers > #tituloInscripcion {
        grid-column: 1/4 ;
        grid-row:1/1;
    }

    .itemDatosInscripcion{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .gridInscripcionEventosDatosPers > #apellidoInscripcion {
        grid-column: 1/1 ;
        grid-row:2/2;
        border-right: 0;
    }

    .gridInscripcionEventosDatosPers > #nombreInscripcion {
        grid-column: 2/2 ;
        grid-row:2/2;
        border-left: 0;
    }

    .gridInscripcionEventosDatosPers > #documentoInscripcion {
        grid-column: 1/1 ;
        grid-row:3/3;
        border-right: 0;
    }

    .gridInscripcionEventosDatosPers > #generoInscripcion {
        grid-column: 2/2 ;
        grid-row:3/3;
        border-left: 0;
    }

    .gridInscripcionEventosDatosPers > #fechaNacimientoInscripcion {
        grid-column: 1/1 ;
        grid-row:4/4;
        border-right: 0;
    }

    .gridInscripcionEventosDatosPers > #equipoInscripcion {
        grid-column: 2/2 ;
        grid-row:4/4;
        border-left: 0;
    }

    .gridInscripcionEventosDatosPers > #datosContactoInscripcion {
        grid-column: 3/3 ;
        grid-row:2/5;
    }

    #datosContactoInscripcion > div{
        align-content: space-between;
        margin-top: 8%;
        margin-left: 8%;
    }

    #datosContactoInscripcion div input{
        width: 90%;
    }

    .gridInscripcionEventosDatosPers > #divTerminosInscripcion {
        grid-column: 1/4 ;
        grid-row: 5/5;
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 1%;
    }

    .frameTerminos{
        width: 100%;
    }

    #inscripcionEventosinputApellido{
        margin-left: 21px;
    }

    #inscripcionEventosinputNombre{
        margin-left: 21px;
    }

    #inscripcionEventosinputDocumento {
        margin-left: 1%;
    }

    #inscripcionEventossectionEquipo{
        width: 53%;
        margin-left: 7%;
    }

    #inscripcionFechaNacimientoInscripcion {
        margin-left: 2%;
    }
    /* FIN Media Query min 1019px  INSCRIPCION EVENTOS  */
}


@media only screen and (max-width: 1020px){
    
    /* Media Query Proximos Eventos */
    main .gridProximosEventos {
        display: block;
        margin-left: 10%;
        margin-right: 10%;
        text-align: center;
    }

    main .itemCuandoyDonde {
        display: block;
    }

    main .maps {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    main .maps .divContenedorMaps{
        display: block;
        width: 100%;
        margin: 2%;
    }

    section .footerGridProximosEventos{
        display: block;
        padding-bottom: 2%;
    }

    div .consideraciones {
        flex-direction: column;
        align-items: center;
        text-align: center;
        background-color: azure;
    }

    .consideraciones .tituloGridHijo {
        text-align: center;
    }

    .consideraciones .ConsideracionesFlex{
        display: inline-block;
        justify-items: center;
    }

    section .categorias {
        flex-direction: column;  
        align-items: center; 
        text-align: center;
    }    

    section .rangoEdades{
        display: flex;
        flex-direction: column;  
        padding: 2%;
    }
    /* FIN Media Query Proximos Eventos */

    /* Media Query Inscripcion Evento */
    .gridInscripcionEventosDatosPers > * {
        border: 2px solid rgba(57, 201, 141, 0.363);
        background-color: whitesmoke;
        background-image: radial-gradient( rgba(135, 233, 187, 0.356), rgba(184, 180, 128, 0.89));
        padding-top: 2%;
        padding-bottom: 2%;
    }

    form .gridInscripcionEventosDatosPers{
        display: grid;
        grid-template-areas: 
        "titulo titulo"
        "apellido nombre"
        "documento genero"
        "fechanac equipo"
        "contacto contacto"
        "terminos terminos"
        ;
        margin-left: 5%;
        margin-right: 5%;
    } 

    #inscripcionEventosinputApellido{
        margin-left: 7%;
    }

    #tituloInscripcion {
        grid-area: titulo;
    }

    #apellidoInscripcion {
        grid-area: apellido;
        border-right: 0;
    }

    #nombreInscripcion {
        grid-area: nombre;
        border-left: 0;
    }

    #documentoInscripcion {
        grid-area: documento;
        border-right: 0;
    }

    #generoInscripcion {
        grid-area: genero;
        border-left: 0;
    }

    #fechaNacimientoInscripcion {
        grid-area: fechanac;
        border-right: 0;
    }

    #equipoInscripcion {
        grid-area: equipo;
        border-left: 0;
    }

    #datosContactoInscripcion {
        grid-area: contacto;
    }

    
    #divTerminosInscripcion {
        grid-area: terminos;
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 1%;
    }    

    #inscripcionEventosinputApellido{
        margin-left: 21px;
    }

    #inscripcionEventosinputNombre{
        margin-left: 21px;
    }

    #inscripcionEventosinputDocumento {
        margin-left: 1%;
    }

    #inscripcionEventossectionEquipo{
        width: 55%;
        margin-left: 8%;
    }

    #inscripcionFechaNacimientoInscripcion {
        margin-left: 2%;
    }

    /* FIN Media Query Inscripcion Evento */

}


@media screen and (min-width:451px) and (max-width: 1224px) {
    /* Media query Contacto */
    #sectionPrincipalContacto{
        width: 80%;
    }

    #contactoDivGral {
        display: block;    
        align-content: center;
        text-align:center;
        width: 100%;
    }

    #textAreaConsulta{
        width: auto;
    }
    /* Fin Media query Contacto */

}

/**** FIN MediaQuerys ***********/



/* Footer */
.classFooter {
    background-color:black;
    padding-top: 2%;      
}

.textoFooter{
    text-align: center;
    color: rgb(0, 102, 255);
}

.divIconosFooter {
    display: block;
    float: left;
}

.imagenIconoRedes {
    width: 55px;
    height: 40px;

}
.imagenIconoRedes:hover {
    scale: (1.5, 1.5);
}



.divIconosRedes > a > img{
    transform: scale(1,1);
    margin-right: 20px;
}

.divIconosRedes > a > img:hover{
    transform: scale(1.3, 1.3);
}
.divIconosFooter > a > img:hover{
    transform: scale(1.3, 1.3);
}

.derechosAutor {
    text-align: center;
    margin-top: 3%;
    color: rgb(0, 102, 255);
}


/* Generales */
.sectionPrincipal {
    padding-left: 1%; 
    padding-right: 1%;
    padding-top: 1%;
    background-color: rgba(0, 0, 0, 0.904) ;    
}

.section_articlePrincipal {
    border-style:inset;
    display: inline-block;
    background-color: whitesmoke;   
    width: 100%; 
}

.tituloArticulo {
    font-family: 'Liberation Serif', sans-serif;
    text-align: center;
    font-size: xx-large; 
    border-style: ridge;
    background-color: rgba(57, 201, 141, 0.363);
    margin: 10px;
    background-image: linear-gradient(to right, rgba(0, 0, 255, 0.555), rgba(255, 255, 0, 0.521), rgba(90, 90, 155, 0.541), rgba(255, 166, 0, 0.514));
}
/* -------------- FIN MASTER  ------------- */




/* -------------- INDEX  ------------- */
.imagenFondo{
    height: 800px; 
    background-image: linear-gradient(rgba(0, 0, 0, 0.692), rgba(0, 0, 0, 0.705)),  url('../img/foto_inicio_grey.jpg');
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: cover;
    background-blend-mode: soft-light;
}

.h1Bienvenida{
    font-size: 45px;
    background: linear-gradient(to right, rgb(253, 116, 25), rgba(211, 212, 117, 0.863), rgba(252, 101, 1, 0.979));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    margin-top: 28%;
    text-align: center;
    animation-duration: 0.8s;
    animation-name: animacionBienvenida;
    animation-iteration-count: 1; /*infinite;*/
}

@keyframes animacionBienvenida {
    0% {transform: scale(0,0);}
    12% {transform: scale(0.1,0.1);}
    25% {transform: scale(0.2,0.2);}
    37% {transform: scale(0.3,0.3);}
    50% {transform: scale(0.5, 0.5);}
    63% {transform: scale(0.6, 0.6);}
    75% {transform: scale(0.7, 0.7);}
    87% {transform: scale(0.8, 0.8);}
    100% {transform: scale(1,1);}
}

/* index - Burbuja Noticias */
#noticia{
    background-color: burlywood;
    top: 10%;
    width: 170px;
    height: 80px;
    position: fixed;
    right: 100px;
    text-align: center;
    border-radius: 50%;
}

#noticia__titulo {
    text-decoration: underline;
    margin-top: 5%;
}

#noticia_inscribite {
    animation: blinker 1s step-start infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

/* -------------- FIN INDEX  ------------- */

/* -------------- CONSTRUCCION  ------------- */

.imagenFondoConstruccion{
    width: 30%;
    padding-left: 30%;
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: cover;
}
/* -------------- FIN CONSTRUCCION  ------------- */


/* -------------- EVENTOS  ------------- */



.eventosTitulos h1{
    font-size: 50px;
    text-decoration: underline;
    padding-bottom: 1%;
}

#eventosP{
    margin-top: 5%;
    font-size: 28px;
    text-align: center;
}
.eventosBotones{
    display: grid;
    grid-template-areas: 
    "proximos recientes";
    text-align: center;
    padding: 10%;
}

.eventosBotones > div{
    padding: 3%;
}
#divBotonProximosEventos {
    grid-area: proximos;
}
#divBotonRecientes {
    grid-area: recientes;
}

.eventosBotonProximos a{
    text-decoration: none;
    background-color: black;
    color: white;
    font-size: 20px;
    font-family: 'Liberation Serif', sans-serif;
    padding: 20px 30px;

    border-style: inset;
    border-radius: 10%;    
    border-color: rgb(0, 102, 255);
}
/* -------------- FIN EVENTOS  ------------- */

/* -------------- PROXIMOS EVENTOS  ------------- */

.footerGridProximosEventos{
    display: flex;
    justify-content: space-evenly;
}


.resumenEvento {
    font-size: x-large;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 2%;
}

.cuandoDonde {
    font-size: medium;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 150px;
    height: auto;
}

table, th,  td {
    border: 1px solid black;
}
th{
    font-style: inherit;
}


.card-custom {
    overflow: hidden;
    min-height: 400px;
    box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
}

.card-custom-img {
    height: 200px;
    min-height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-color: inherit;
}

.card-custom-img::after {
    position: absolute;
    content: '';
    top: 161px;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-top-width: 40px;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 545px;
    border-left-width: calc(575px - 5vw);
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: inherit;
}

.card-custom-avatar img {
    border-radius: 50%;
    box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
    position: absolute;
    top: 100px;
    left: 1.25rem;
    width: 100px;
    height: 100px;
}



#button-container{
	position:relative;
	left:0%;
	width:203px;
	height:43px;
	background:#022c3e;
	padding-top:5px;
	margin-top:10px;
	-webkit-border-radius:38px;
	-moz-border-radius:38px;
	border-radius:38px;
	-webkit-box-shadow:inset 0 1px 2px #000, 0px 1px 1px rgba(255,255,225,0.2);
	-moz-box-shadow:inset 0 1px 2px #000, 0px 1px 1px rgba(255,255,225,0.2);
	box-shadow:inset 0 1px 2px #000, 0px 1px 0px rgba(255,255,225,0.3);
	/*Hover effect*/
	-webkit-transition: .5s all;
	-moz-transition: .5s all;
	-o-transition: .5s all;
	-ms-transition: .5s all;
	transition: .5s all;}

#button{
	position: absolute;
	top: 5px;
	left: 5px;
	width:193px;
	height:38px;
	margin:0px auto;
	-webkit-border-radius:20px;
	-moz-border-radius:20px;
	border-radius:20px;
	cursor:pointer;

}

#button p{
	margin-top: 11px;
	margin-left:60px;
	font-size:.9em;
}

#button-container:hover {
    box-shadow: none;
	-webkit-box-shadow: inset 0 1px 2px #000, 0px 0px 10px 5px rgba(255,255,225,0.2);
}

/*Colors*/
.yellow{
/*Gradient*/
	background: rgb(255,197,120); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(255,197,120,1) 0%, rgba(251,157,35,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,197,120,1)), color-stop(100%,rgba(251,157,35,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255,197,120,1) 0%,rgba(251,157,35,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255,197,120,1) 0%,rgba(251,157,35,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(255,197,120,1) 0%,rgba(251,157,35,1) 100%); /* IE10+ */
	background: linear-gradient(top, rgba(255,197,120,1) 0%,rgba(251,157,35,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc578', endColorstr='#fb9d23',GradientType=0 ); /* IE6-9 */
}

.green{
	background: rgb(205,235,142); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(205,235,142,1) 0%, rgba(165,201,86,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(205,235,142,1)), color-stop(100%,rgba(165,201,86,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(205,235,142,1) 0%,rgba(165,201,86,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(205,235,142,1) 0%,rgba(165,201,86,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(205,235,142,1) 0%,rgba(165,201,86,1) 100%); /* IE10+ */
	background: linear-gradient(top, rgba(205,235,142,1) 0%,rgba(165,201,86,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cdeb8e', endColorstr='#a5c956',GradientType=0 ); /* IE6-9 */
}

.blue{
	background: rgb(122,188,255); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(122,188,255,1) 0%, rgba(96,171,248,1) 44%, rgba(64,150,238,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(122,188,255,1)), color-stop(44%,rgba(96,171,248,1)), color-stop(100%,rgba(64,150,238,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(122,188,255,1) 0%,rgba(96,171,248,1) 44%,rgba(64,150,238,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(122,188,255,1) 0%,rgba(96,171,248,1) 44%,rgba(64,150,238,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(122,188,255,1) 0%,rgba(96,171,248,1) 44%,rgba(64,150,238,1) 100%); /* IE10+ */
	background: linear-gradient(top, rgba(122,188,255,1) 0%,rgba(96,171,248,1) 44%,rgba(64,150,238,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7abcff', endColorstr='#4096ee',GradientType=0 ); /* IE6-9 */
}

.blueGradientDiagonal{
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#cedbe9+0,aac5de+17,6199c7+50,3a84c3+51,419ad6+59,4bb8f0+71,3a8bc2+84,26558b+100;Blue+Gloss */
    background: rgb(206,219,233); /* Old browsers */
    background: -moz-linear-gradient(-45deg,  rgba(206,219,233,1) 0%, rgba(170,197,222,1) 17%, rgba(97,153,199,1) 50%, rgba(58,132,195,1) 51%, rgba(65,154,214,1) 59%, rgba(75,184,240,1) 71%, rgba(58,139,194,1) 84%, rgba(38,85,139,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  rgba(206,219,233,1) 0%,rgba(170,197,222,1) 17%,rgba(97,153,199,1) 50%,rgba(58,132,195,1) 51%,rgba(65,154,214,1) 59%,rgba(75,184,240,1) 71%,rgba(58,139,194,1) 84%,rgba(38,85,139,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  rgba(206,219,233,1) 0%,rgba(170,197,222,1) 17%,rgba(97,153,199,1) 50%,rgba(58,132,195,1) 51%,rgba(65,154,214,1) 59%,rgba(75,184,240,1) 71%,rgba(58,139,194,1) 84%,rgba(38,85,139,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cedbe9', endColorstr='#26558b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

/*ICONS*/
#clock{
	position:absolute;
	top:10px;
	left:20px;
	width:15px;
	height:15px;
	border:2px solid #000;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	border-radius:50%;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	opacity:0.8;
}
#clock-hand1{
	position:absolute;
	width:0px;
	height:5px;
	border:1px solid #000;
	top:2px;
	left:7px;
}
#clock-hand2{
	position:absolute;
	width:5px;
	height:0px;
	border:1px solid #000;
	top:7px;
	left:7px;
}

#order{
	position:absolute;
	top:10px;
	left:23px;
	width:10px;
	height:15px;
	border:2px solid #000;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
	border-top-right-radius:5px;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	opacity:0.8;
}

#order-line{
	position:absolute;
	width:4px;
	height:0px;
	border:1px solid #000;
}

#order-line:nth-child(2){
	top:10px;
	width:6px;
}

#camera{
	position:absolute;
	top:12px;
	left:23px;
	width:17px;
	height:11px;
	border:2px solid #000;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	opacity:0.8;
}

#camera-optics{
	position:absolute;
	top:1px;
	left:4px;
	width:5px;
	height:5px;
	border:2px solid #000;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	border-radius:50%;
}

#camera-button{
	position:absolute;
	top:-3px;
	left:1px;
	width:0px;
	height:0px;
	border:2px solid #000;
	border-bottom:0;
}

/* Grillas Proximos Eventos */

.gridProximosEventos {
    display: grid;
    margin-left: 18%;
    margin-right: 10%;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    grid-template-areas: 
    "header header header"
    "section1 section1 aside"
    "section2 section2 aside"
    "section3 section3 rango"
    "section4 section4 section4"
    "footer footer footer"    
}

.gridProximosEventos > * {
    border: 2px solid rgba(57, 201, 141, 0.363);
    background-color: whitesmoke;
    background-image: radial-gradient( rgba(135, 233, 187, 0.356), rgba(184, 180, 128, 0.89));
}

.gridProximosEventos > header {
    grid-area: header;
}

.itemsResumenEvento {
    grid-area: section1;
    padding-left: 2%;
    padding-right: 2%;
    font-size: x-large;
}

.itemCuandoyDonde{
    grid-area: section2;
    padding-left: 2%;
}

.maps {
    grid-area: aside;
    padding-left:0;
}
.divContenedorMaps{
    display: grid;
    margin: 5%;
}

.gridProximosEventos > footer {
    grid-area: footer;
}

.categorias {
    grid-area: section3;
    padding: 2%;
}

.rangoEdades{
    grid-area: rango;
}

.divContenedorTablaRangoEdades{
    display: grid;
    padding: 5%;
}

.consideraciones{
    grid-area: section4;
    padding: 2%;
}

.ConsideracionesFlex{
    display: flex;
    flex-wrap: wrap;    
    gap: 10px;
    
}
.tituloGridHijo{
    margin: 20px;
}
/* -------------- FIN PROXIMOS EVENTOS  ------------- */



/* -------------- FELICITACIONES  ------------- */
#felicitacionesFelicitaciones{
    text-align: center; 
    background: rgb(111, 109, 243); 
    color:yellow; 
    padding-left: 20%; 
    padding-right: 20%;    
}

#imagenFelicitaciones{
    width: 30%;
    padding-left: 35%;
}

/* -------------- FIN FELICITACIONES  ------------- */


/* -------------- MIS DATOS  ------------- */
#misDatosFormulario {
    margin: 10px;
}

#misDatosDatosPers {
    text-align: center;
}

#misDatosFoto {
    text-align: center;
    padding-left: 10%;
}


.divCargaDatosText {
    transition: height 1s;
}
.divCargaDatosText:hover {
    background-color: rgb(235, 243, 191);
}

.divCargaDatosTextArea {
    transition: height 1s;
}
.divCargaDatosTextArea:hover {
    background-color: rgb(235, 243, 191);

}
.misDatosFrameTerminos{
    width: 100%;
    height: 250px;
    transition: height;
}
.misDatosFrameTerminos:hover{
    background-color: rgb(235, 243, 191);
}

.textoTerminosDelSitio {
    background-color: #359477;
    height: 20px;
}
.textoTerminosDelSitio:hover {

    height: 300px;
}

#misDatosCheckAceptar {
    margin-left: 20%;

}


.misDatosBotonIzq{
    margin-right: 20px;
    padding: 5px;
}
.misDatosBotonDer{
    margin-left: 20px;
    padding: 5px;
}

/* -------------- FIN MIS DATOS  ------------- */

/* -------------- TERMINOS Y CONDICIONES DEL SITIO -----*/
.classTerminos{
    background-color: rgb(233, 234, 221);
    transition: 1s;
}
/* -------------- FIN TERMINOS Y CONDICIONES DEL SITIO -----*/

/* -------------- NOVEDADES  ------------- */

.sectionNovedades {
    border-style:inset;
    background-color: whitesmoke;   
    width: 99%; 
}

.novedadLayoutIzq{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 3fr 1fr;
    grid-template-areas: 
        "titleIzq sectionRightIzq"
        "sectionLeftIzq sectionRightIzq"
        "fuenteIzq sectionRightIzq"
        ;
    padding-bottom: 2%;
    border-bottom: 15px solid rgba(128, 128, 128, 0.801);
}

.novedadLayoutDer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 3fr 1fr;
    grid-template-areas: 
        "sectionRightDer titleDer "
        "sectionRightDer sectionLeftDer"
        "sectionRightDer fuenteDer"
        ;
    
    border-bottom: 15px solid rgba(128, 128, 128, 0.801);
}

.tituloNovedadIzq {
    grid-area: titleIzq;
    font-size: xx-large;
    text-decoration: underline;
    text-align: center;
}

.tituloNovedadDer {
    grid-area: titleDer;
    font-size: xx-large;
    text-decoration: underline;
    text-align: center;
}

.parrafoNovedadIzq {
    grid-area: sectionLeftIzq;
    font-size: x-large;
    margin-left: 2%;
}
.parrafoNovedadDer {
    grid-area: sectionLeftDer;
    font-size: x-large;
    margin-left: 2%;
}

.fotoVideoIzq {
    grid-area: sectionRightIzq;
    padding-left: 20%;
    padding-right: 20%;
}

.fotoVideoDer {
    grid-area: sectionRightDer;
}
#fotoNovedadDer {
    transform: rotate(350deg) translate(30px, 30px);
    height: 80%;
    width: 50%;

}
#fotoNovedadDer2 {
    transform: rotateZ(10deg) translate(0px, 10px) scale(-0.8, 0.8);
    height: 60%;
    width: 40%;
}


a.buttonVerFuenteNoticiaIzq {
    grid-area: fuenteIzq;
    height:12px;
    width: 18%;
    align-self:center;
    justify-self: center;
    text-align: center;
    padding: 10px 50px;
    background: #4479BA;
    color: #FFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px #20538D;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
}
a.buttonVerFuenteNoticiaDer {
    grid-area: fuenteDer;
    height:12px;
    width: 18%;
    align-self:center;
    justify-self: center;
    text-align: center;
    padding: 10px 50px;
    background: #4479BA;
    color: #FFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px #20538D;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
}

a.buttonVerFuenteNoticiaIzq:hover, a.buttonVerFuenteNoticiaDer:hover {
    background: #359477;
    border: solid 1px #2A4E77;
    text-decoration: none;
}

.imgvideoNovedad {
    width: 100%;
    height: 315px;
    border: 0;
}


.novedadRadial{
    background-image: radial-gradient(rgba(0, 89, 255, 0.445), rgba(141, 216, 97, 0.644));
}

.novedadGradient{
    background-image: linear-gradient(to left, rgb(135, 135, 233), rgba(233, 233, 79, 0.719));
}
/* -------------- FIN NOVEDADES  ------------- */

.ColorFondoGral{
    background-color: whitesmoke;
    background-image: radial-gradient(rgba(0, 89, 255, 0.445), rgba(141, 216, 97, 0.644))
}


/* -------------- CONTACTO ------------- */

#formContacto {
    width: auto;
}

#contactoDivGral {
    border-style:inset; 
    align-items: center;
    display: grid;    
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 0.5fr;
    grid-template-areas: 
    "imagenTrabajoEquipo datos"
    "botones1 botones";
    
}

#imgTrabajoEquipo {
    grid-area: imagenTrabajoEquipo;
}

#botonesContacto{
    grid-area: botones;

}

#griddatosContacto {
    grid-area: datos;
}


#labelNombre{
    padding-right: 3px;
}

#labelCorreo {
    padding-right: 11px;
}


#textAreaConsulta{
    padding-right: 15%;
}

/* -------------- FIN CONTACTO ------------- */




/*---------------- AYUDA ------------------*/

#sectionAyuda {
    background-color: black;
    padding-top: 1%;
    margin-left: 10%;
    margin-right: 10%;
    padding-right: 8%;
}

.detalleAyuda {
    display: grid;
    grid-template-areas: 
    "titulo titulo titulo"
    "detalle detalle icono"
    "arriba arriba arriba"
    ;
    grid-template-columns: 1fr 2fr 0.5fr;
    margin: 1%;
    border-style: double;
    border-color: blue;
    background-color: whitesmoke;
    background-image: radial-gradient(rgba(0, 89, 255, 0.445), rgba(141, 216, 97, 0.644))
}

.detalleAyuda p {
    margin-top: 1%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
    grid-area: detalle;
}

.detalleAyuda > h2{
    background-image: linear-gradient(to right, rgba(0, 0, 99, 0.411), rgba(121, 121, 25, 0.521), rgba(90, 90, 155, 0.541), rgba(255, 166, 0, 0.281));
    grid-area: titulo;
}

.detalleAyuda > a{
    grid-area: arriba;
}
.divImagenAyuda{
    grid-area: icono;
    align-self: center;
    justify-self: center;
}

.iconosAyuda{
    /*transform: scale(0.8,0.8);*/
    animation-iteration-count: infinite;
    animation-name: movimientoIcono;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    max-width:100%;
    width:auto;
    height:auto;    
}
@keyframes movimientoIcono{
    0%{width: 50px; }
    25%{width: 60px; }
    50%{width: 70px; }
    75%{width: 60px; }
    100%{width: 50px;}
}


/*---------------- FIN AYUDA ------------------*/
